{% load static %}
<aside class="sidebar sidebar-base " id="first-tour" data-toggle="main-sidebar" data-sidebar="responsive">
    <div class="sidebar-header d-flex align-items-center justify-content-start position-relative">
        <a href="./index.html" class="navbar-brand">
            <div class="logo-main">
                <img class="logo-normal img-fluid" src="{% static "img/logo.png" %}" height="30" alt="logo">
                <img class="logo-normal dark-normal img-fluid" src="{% static "img/logo-dark.png" %}" height="30" alt="logo">
                <img class="logo-normal white-normal img-fluid" src="{% static "img/logo-white.png" %}" height="30" alt="logo">
                <img class="logo-mini img-fluid" src="{% static "img/logo-mini.png" %}" height="30" alt="logo">
                <img class="logo-mini dark-mini img-fluid" src="{% static "img/logo-mini-dark.png" %}" height="30" alt="logo">
                <img class="logo-mini white-mini img-fluid" src="{% static "img/logo-mini-white.png" %}" height="30" alt="logo">
            </div>       
        </a>
        <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
            <i class="icon">               
                <svg class="icon-20 icon-arrow" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.5 19L8.5 12L15.5 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>                            
            </i>
        </div>
    </div>
    <div class="sidebar-body pt-0 data-scrollbar">
        <div class="sidebar-list">
            <ul class="navbar-nav iq-main-menu" id="sidebar-menu">
                <li class="nav-item static-item">
                    <a class="nav-link static-item disabled text-start" href="#" tabindex="-1">
                        <span class="default-icon">Cadastros</span>
                        <span class="mini-icon">-</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="{% url "customers:list" %}">
                        <i class='bx bx-group'></i>
                        <span class="item-name">Clientes</span>
                    </a>
                </li>
                <li>
                    <hr class="hr-horizontal">
                </li>
            </ul>
            
        </div>
    </div>
    <div class="sidebar-footer"></div>
</aside>